.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  z-index: 0;
  animation: spinner 1s infinite linear;
  margin-bottom: 20px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    border: 1px solid rgba(255, 255, 255, 0.377);
    border-left-color: rgb(0, 4, 53);
  }

  50% {
    transform: rotate(180deg);
    border: 1px solid rgb(0, 4, 53);
  }

  100% {
    transform: rotate(360deg);
    border: 1px solid rgba(255, 255, 255, 0.377);
  }
}
