.team-select,
.player-select,
.match-select {
  padding: 10px;
  outline: none;
  cursor: pointer;
  width: 250px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: rgba(142, 146, 206, 0.281);
}

.team-select {
  width: 150px;
}

.player-select {
  width: 250px;
}

.match-select {
  width: 350px;
}
